
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>ame</td>
            <td>pass</td>
            <td>compayame</td>
            <td>gsti</td>
            <td>aotcompay</td>
            <td>wesite</td>
            <td>email/td>
            <td>mo</td>
        </tr>
        <tr>
            <td>@model.sid</td>
            <td>@model.sname</td>
            <td>@model.spassword</td>

            <td>@model.scompanyname</td>
            <td>@model.sgstin</td>

            <td>@model.saboucompany</td>
            <td>@model.swebsite</td>
            <td>@model.smoileno</td>

            

        </tr>
    </table>
    
</body>
</html>
