
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutEmployee</title>

</head>
<body>
    <h1>Employee Details</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>NAme</td>
            <td>Email</td>
            <td>DEpt</td>
            <td>ProjectName</td>

        </tr>
        <tr>
            
            <td>@Model.employee1.Id</td>
            <td>@Model.employee1.Name</td>
            <td>@Model.employee1.Email</td>
            <td>@Model.employee1.Dept</td>
            <td>@Model.employee1.ProjectName</td>
            
        </tr>
       
        }
        </table>
</body>
</html>
